<h1>Stupid Coaching</h1>
<div class="quote">
  <p><%= params[:question] %></p>
  <p><i>-You</i></p>
</div>
<div class="quote answer">
  <p><%= @answer %></p>
  <p><i>-Your coach</i></p>
</div>

<%= link_to "Ask a new question", ask_path %>
