// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer {
  background: #FFFEE4;
}

.quote {
  border-left: 4px solid #DDDDDD;
  padding-left: 12px;
}
